appdirs==1.4.4
beautifulsoup4==4.11.1
certifi==2022.5.18
charset-normalizer==2.0.12
colorama==0.4.4
comtypes==1.1.11
fire==0.4.0
idna==3.3
lxml==4.8.0
Pillow==8.4.0
psutil==5.9.0
pynput-robocorp-fork==4.0.0
pywin32==303
requests==2.27.1
robocorp-dialog==0.5.3
robotframework==5.0.1
robotframework-pythonlibcore==3.0.0
robotframework-seleniumlibrary==5.1.3
rpaframework-core==8.0.0
rpaframework-dialogs==2.0.0
rpaframework-windows==4.0.0
selenium==3.141.0
six==1.16.0
soupsieve==2.3.2.post1
termcolor==1.1.0
tqdm==4.64.0
uiautomation==2.0.16
urllib3==1.26.9
webdrivermanager==0.10.0
